/* Smaller like mobile */
@media (max-width: 668px) {
  html {
    background: none;
  }
  .fa-bars{
    color:black;
    margin-top: 50px;
  }
  .twelve.columns{ width: 100%; margin-left: 0; }
  .about, .projects, .contact {
    padding: 40px 10px 40px 10px;
  }
  .topBar{
    position: relative;
  }
  .topBar .five{
    font-size: 30px;
  }
  .topBar .five i{
    margin-left: 4px;
    font-size: 36px;}

  .topBar .twelve{
    text-align: center;
  }
  .topBar .twelve a{
    padding: 4px;
    width: 36px;
    display: inline-block;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0);
  }
  .topBar .twelve a.full{
    width: 280px;
  }
  .topBar .twelve a:hover{
    background-color: rgba(255, 255, 255, 0.8);
  }

  .container1{
    display: none;
  }

  .techCircle{
    width:71px; height:71px;
    min-width: 71px;
  }

  .techCircle p{
    font-size: 2.75vw;
    margin-top: -2px;
  }

  .techCircle i{
    margin-top: 18px;
    font-size: 7.5vw;
  }

  .keyTech h2{
    font-size: 4vw;
    margin-top: -20px;
  }
  .about{
    height: 1300px;
  }
  .about p{
    font-size: 16px;
  }
  .about h3{
    font-size: 17px;
  }
  .about h3 span{
      font-size: 24px;
  }
  .about a{
    margin-left: 0;
    margin-top: 120px;
    display: block;
  }
  .headshot{
    width: 250px;
    display: block;
    margin: 0 auto;
  }
  .animation .row .columns{
    min-height: 255px;
    margin-bottom: 60px;
  }

  .animation .row .columns h2{
    margin-left: -10px;
  }

  .projects span {
    width: 30px;
    padding-right: 3px;
  }

  .projects ul{
    margin-left: 0px;
  }
  .projects ul li{
    font-size: 10px;
    text-decoration: underline;
    margin-left: -10px;
  }
  #projh2{
    margin-top: -30px;
  }
  .tall{
    min-height: 380px;
  }
   #hideEmail{
     font-size: 14px;
   }
  .contact h4{
    margin-top: 40px;
  }
  .getSoc p{
    font-size: 14px;
  }
  .blackSpan{
    padding: 4px 10px;
    margin-right: 10px;
  }
  .getSoc ul li a#first{
    margin-left: 4px;
  }
  footer{
    margin: 0;
    font-size: 3vw;
  }
  footer .fa{
    font-size: 20px;
  }

  @media screen and (-webkit-min-device-pixel-ratio:0) {
  /* the CSS styling below will only be picked up by Safari and Chrome */

  .techCircle{
    margin: 10px 0;
  }

   .techCircle:first-of-type{
    margin-left: 2px;
  }

  #projh2{
    margin-top: 10px;
  }

  }

}

@media (min-width: 400px) and (max-width: 668px) {
  .topBar .five{
    padding-top: 10px;
    font-size: 5vw;
  }
  .topBar .five i{
    font-size: 5.25vw;
  }
  .topBar .one a{
    font-size: 16px;
    line-height: 66px;
  }
  .techCircle{
    width:122px; height:122px;
    min-width: 122px;
  }

  .techCircle p{
    font-size: 3.25vw;
    margin-top: -2px;
  }

  .techCircle i{
    margin-top: 18px;
    font-size: 8.5vw;
  }
  .techCircle:first-of-type{
   margin-left: -18px;
  }
  .about {
    height: 1100px;
  }
  .about p {
    width: 260px;
    float: left;
  }
  .headshot {
    width: 180px;
    display: inline-block;
    margin: -266px auto;
    float: right;
  }
  .animation .row .columns h2 {
   margin-left: -2px;
  }
  .projects ul{
    margin-left: 10px;
  }
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
  .topBar .five{
    padding-top: 0;
    font-size: 30px;
  }
  .topBar .five i{
    margin-left: 60px;
    font-size: 36px;
  }
  .topBar .one a{
    line-height: 46px;
  }
}

/* Larger than tablet */
@media (min-width: 750px) and (max-width: 1020px){
  .topBar .one a{
    color:black;
  }
  .topBar .one i{
    padding: 0;
  }
  .topBar .five i{
    margin-left: 10px;
  }

}
