/* Navigation Menu - Background */
.navigation {
  /* critical sizing and position styles */
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;

  /* non-critical appearance styles */
  list-style: none;
  background: #000;
}

/* Navigation Menu - List items */
.nav-item {
  /* non-critical appearance styles */
  width: 150px;
  border-top: 1px solid #111;
  border-bottom: 1px solid #000;
}
.nav-item a {
  /* non-critical appearance styles */
  display: block;
  padding: 1em;
  background: linear-gradient(135deg, rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%);
  color: white;
  font-size: 1.2em;
  text-align: right;
  text-decoration: none;
  transition: color 0.2s, background 0.5s;
  position: absolute;
  margin: 10px 0;
  top: 0;
  right: 20px;
}

.nav-item a:hover {
  color: #EE1524;
  background: rgba(0,0,0, 1)
}
#navSpec1{
  top: 0px;
}
#navSpec2{
  top: 50px;
}
#navSpec3{
  top: 100px;
}
#navSpec4{
  top: 140px;
}
#navSpec5{
  top: 180px;
}
#navSpec6{
  top: 230px;
  right: 100px;
}
#navSpec7{
  top: 230px;
  right: 60px;
}
#navSpec8{
  top: 230px;
  right: 20px;
}

/* Site Wrapper - Everything that isn't navigation */
.site-wrap {
  /* Critical position and size styles */
  min-height: 100%;
  min-width: 100%;
  background-color: white; /* Needs a background or else the nav will show through */
  position: relative;
  top: 0;
  // bottom: 100%;
  right: 0;
  z-index: 0;

  /* non-critical apperance styles */
  background: url(../images/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Nav Trigger */
.nav-trigger {
  /* critical styles - hide the checkbox input */
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

label[for="nav-trigger"] {
  /* critical positioning styles */
  position: fixed;
  right: 15px; top: 15px;
  z-index: 2;

  /* non-critical apperance styles */
  height: 30px;
  width: 30px;
  cursor: pointer;
  // background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' width='30px' height='30px' viewBox='0 0 30 30' enable-background='new 0 0 30 30' xml:space='preserve'><rect width='30' height='6'/><rect y='24' width='30' height='6'/><rect y='12' width='30' height='6'/></svg>");
  background-size: contain;
  font-size: 24px;
}

.fa-bars{
  color:white;
  transition:all 250ms ease-in;
}
.fa-bars:hover {
  color: #EE1524;
}

/* Make the Magic Happen */
.nav-trigger + label, .site-wrap {
  transition: right 0.5s;
}

.nav-trigger:checked + label {
  right: 180px;
}

.nav-trigger:checked ~ .site-wrap {
  right: 180px;
  box-shadow: 0 0 5px 5px rgba(0,0,0,0.5);
}

body {
	/* Without this, the body has excess horizontal scroll when the menu is open */
  overflow-x: hidden;
}

// /* Micro reset */
// *,*:before,*:after{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;margin:0;padding:0;}
// html, body { height: 100%; width: 100%; font-family: Helvetica, Arial, sans-serif; }
